@font-face {
    font-family: "PressStart2P";
    src: url("fonts/Press_Start_2P/PressStart2P.ttf");
}
html{
    /* background-image: url("img/background2.png"); */
}
body{
    text-align: center;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'PressStart2P';
}
canvas{
    border: 1px solid black;
}
.playerStats{
    font-size: 16px;
    white-space: nowrap;
    position:relative;
    height: 50px;
    width: 100px;
    margin: auto;
    /* border: 1px solid black; */
}
#levelText{
    position:absolute;
    top:-25%; 
    left:50%; 
    transform:translate(-50%, 0%); 
}
#scoreText{
    position: absolute;
    top:50%; 
    left:50%; 
    transform:translate(-50%, -50%); 
}

.columns{
    display:flex;
    width: 50%;
    margin: 50px auto;
}
.leftColumn{
    flex: 50%;
}
.rightColumn{
    flex: 50%;
}

.controlsHeader{
    font-size: 25px;
    text-decoration: underline;
}
.controls{
    margin: 15px 200px;
    padding: 15px 25px;
    line-height: 25px;
    border: 2px dashed black;
    border-radius: 25px;
}